.button-panel {
  position: absolute;
  top: 50%;
  left: 50%;

  display: flex;
  gap: 15px;

  transform: translate(-50%, -50%);

  & > button {
    padding-inline: 40px;
    padding-block: 15px;

    font-size: 24px;
  }
}
