$gapDefault: 15px;
$gapBig: $gapDefault * 2;
$controlHeight: 36px;

.control-panel {
  display: flex;
  align-content: stretch;
  gap: 10px;
  height: $controlHeight;

  & > #datetime-picker {
    padding-inline: 5px;
    
    font-size: 18px;
  }

  & > [data-start] {
    padding-inline: 15px;

    font-size: 18px;
  }
}

.timer {
  display: flex;
  flex-direction: row;
  column-gap: $gapBig;
}

.timer > .field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;

  & > .value {
    font-size: 48px;
  }

  & > .label {
    text-transform: uppercase;
    font-size: 18px;
  }
}
